@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}




.visually-hidden {
  position: absolute;
  left: -9999px;
}

body{
    background-color: #D9D9D9;
    line-height: 1.4;
    /* display: grid;
    grid-template-rows: auto 1fr auto;
    display: flex;
    flex-direction: column; */
}

html, body {
  height: 100%;
  margin: 0;
}



main {
  flex: 1;
}

.naam {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-tekst{
    text-align: center;
    justify-content: space-between;
}

.contact-tekst h1{
    font-size: 20px;
    padding-bottom: 5px;

}
.contact-tekst {
    padding-bottom: 5px;
      font-family: "Montserrat", sans-serif;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
input, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 16px;
  outline: 1.5px solid var(--accentkleur-lightmode);
}

textarea {
  height: 200px;
  resize: none;
  margin-bottom: 15px;
}

.cta {
  display: none;
    @media (min-width: 925px) {
      display: inline-block;
      background: var(--accentkleur-lightmode);
      color: white;
      padding: 10px 25px;
      border-radius: 25px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }

    &:hover {
      background: #1f4648;
  }
}


li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
        background-color: #D9D9D9;
        overflow: scroll;
}
nav {
  position: relative;

}

.navlogo{
    cursor: pointer;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

   
}

.hamburger{
  max-width: 80px;
} 
.navlogo p{
  font-size: 11px;
  text-align: center;
    @media (min-width: 375px) {
      font-size: 13px;
  }
}
.navlogo:focus {
  outline: 2px solid #2B5E60;
  outline-offset: 4px;
}


.links{
    list-style: none;
    display:flex;

}
.links li{
display: flex;
padding: 0 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color:#2B5E60
}


nav[popover] { /*[] zijn een CSS-attribuutselector*/
  @media (min-width: 925px) {
    display: block; /* de navigatie met popover attribuut wordt zichtbaar als normaal blok: https://medium.com/@ayshaismail021/understanding-css-display-property-block-none-inline-and-inline-block-4f8f3bd27d26*/
    border: none;
    background-color: #D9D9D9;
  }
}

nav[popover] .links {
  @media (min-width: 925px) {
    display: flex; /*De <ul> wordt geflext vanaf een schermgrootte van 1060px*/
    flex-direction: row;
  }
}

button[popovertarget="menu"] {
  all: unset;          /* reset alle standaard knop-styling */
  cursor: pointer;
  @media (min-width: 925px) {
    display: none; /*Hiermee verberg je de hamburger menu knop vanaf een schermgrootte van 1060px*/
  }
}

#contacthref{
  @media (min-width: 925px) {
    display: none;
  }
}

.close-menu {
  background-color: var(--accentkleur-lightmode);
  all: unset;
  position: absolute;
  right: 1em;
}

:popover-open {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--accentkleur-lightmode);
  position: fixed;
  max-width: 28em;
  margin-left: auto;
}

:popover-open ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:popover-open a {
  font-size: 30px;
}

li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}






.verzend{
  background: var(--accentkleur-lightmode);
  color: white;
  padding: 15px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

form {
  text-align: center;
  padding:50px;
}
.links{
    list-style: none;
    display:flex;

}
.links li{
display: flex;
padding: 0 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
    color:#2B5E60
}

.cta {
  display: none;
    @media (min-width: 925px) {
      display: inline-block;
      background: var(--accentkleur-lightmode);
      color: white;
      padding: 10px 25px;
      border-radius: 25px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }

    &:hover {
      background: #1f4648;
  }
}


.cta:hover {
  background: #1f4648; /* iets donkerder bij hover */
}




button:hover{
    background-color: rgba(0, 136, 169, 0.8);

}


.footer {
  background-color: var(--accentkleur-lightmode);
  color: white;
  padding: 20px;
  list-style-type: none;
}
.footer li{
    color:white;
}

.footer a{
    color: white;
}
.footerlist{
        display:flex;
        flex-direction:column;
        justify-content: start;
        align-items: left;
        padding:0;
}

.contact {
          padding-top: 20px;
 @media(min-width: 925px){
        display:flex;
        flex-direction:column;
        justify-content: center;
        align-items: center; 
}
}

.emaill {
   padding: 9px 25px;
    background-color: var(--hover);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
    text-align: center;
}

.emaill:hover{
  background-color: var(--links-background-darkmode);
}
