body{
    background-color: #D9D9D9;
    line-height: 1.5;

}

p{
      max-width: 65ch;
}

.cta {
  display: none;
    @media (min-width: 925px) {
      display: inline-block;
      background: var(--primary-color-dark);
      color: white;
      padding: 10px 25px;
      border-radius: 25px;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
    }

    &:hover {
      background: var(--primary-color-dark);
  }
}


li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
        background-color: #D9D9D9;
        overflow: scroll;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}
nav {
  position: relative;

}

.navlogo{
    cursor: pointer;
    margin-right: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.links{
    list-style: none;
    display:flex;

}
.links li{
display: flex;
padding: 0 20px;
}

.links li a {
    transition: all 0.3s ease 0s;
}

.links li a:hover {
  color:var(--primary-color-dark);

  @media (max-width: 925px) {
    color: var(--secondary-color-lightmode)
   
  }
}


nav[popover] { /*[] zijn een CSS-attribuutselector*/
  @media (min-width: 925px) {
    display: block; /* de navigatie met popover attribuut wordt zichtbaar als normaal blok: https://medium.com/@ayshaismail021/understanding-css-display-property-block-none-inline-and-inline-block-4f8f3bd27d26*/
    border: none;
    background-color: #D9D9D9;
  }
}

nav[popover] .links {
  @media (min-width: 925px) {
    display: flex; /*De <ul> wordt geflext vanaf een schermgrootte van 1060px*/
    flex-direction: row;
  }
}

button[popovertarget="menu"] {
  all: unset;         
  cursor: pointer;    
  @media (min-width: 925px) {
    display: none; /*Hiermee verberg je de hamburger menu knop vanaf een schermgrootte van 1060px*/
  }
}

#contacthref{
  @media (min-width: 925px) {
    display: none;
  }
}

.close-menu {
  background-color: var(---primary-color-dark);
  all: unset;
  position: absolute;
  right: 1em;
}

:popover-open {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color-dark);
  position: fixed;
  max-width: 28em;
  margin-left: auto;
}

:popover-open ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

:popover-open a {
  font-size: 30px;
}